[Unit]
Description=SSIF Bridge Daemon

[Service]
Type=dbus
BusName=org.openbmc.HostIpmi
ExecStart=/bin/ssifbridged
Restart=on-abort

[Install]
WantedBy=multi-user.target
